MONGODB_URL=<mongodburl>
ENV=development
PORT=3000
DOMAIN=localhost
GITHUB_CLIENT_ID=<client-id>
GITHUB_CLIENT_SECRET=<client-secret>
CALLBACK_URL=<ROUTH TO CALLBACK_URL>
SESSION_SECRET=your_session_secret_here